

#json {
    font-family: Menlo, Monaco, 'Courier New', monospace;
    font-size: 14px;
}
#json * {
    margin: 0;
    padding: 0;
}
#json p {
    font-size: 18px;
    color: green;
}
#json li {
    list-style-type: none;
    margin-left: 20px;
}
#json li span {
    line-height: 22px;
}
#json .key {
    color: #55746a;
}
#json .string {
    color: #4caf50;
}
#json .number {
    color: blue;
}
#json .boolean {
    color: firebrick;
}


